resources/xml-schema/OrderCancelRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/00/2018.1/OrderCancelRS" targetNamespace="http://www.iata.org/IATA/2015/00/2018.1/OrderCancelRS" elementFormDefault="qualified" version="5.000" id="IATA2018.1">
  <xs:include schemaLocation="../2017.2/chameleon/edist_commontypes_for_AIDM.xsd"/>
  <xs:element name="OrderCancelRS">
    <xs:annotation>
      <xs:documentation>The OrderCancel transaction set requests the cancellation of a specified order, and returns confirmation of cancellation.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PayloadAttributes" type="IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>IATA Payload standard attributes.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MessageDoc" type="MessageDocType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>NDC Message Document Information.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:choice>
          <xs:element name="Response" type="ResponseType">
            <xs:annotation>
              <xs:documentation>Order cancel results.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Error" type="ErrorType" maxOccurs="99">
            <xs:annotation>
              <xs:documentation>Error(s) that prevented message from processing.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="BoardingGateID_Type">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CodeType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="ID_Type">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="IndType">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="LangCodeContentType">
    <xs:annotation>
      <xs:documentation>{codeListAgencyName}ISO{/codeListAgencyName}
                {codeListName}Language Code{/codeListName}
                {codeListIdentifier}6392{/codeListIdentifier}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="LangCodeType">
    <xs:restriction base="LangCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="NameType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="NumberType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="PenaltyAppCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set for Penalty Application.
                {codeListAgencyName}IATA{/codeListAgencyName}
                {codeListName}PADIS - FAT{/codeListName}
                {codeListIdentifier}FAT{/codeListIdentifier}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="PenaltyAppCodeType">
    <xs:restriction base="PenaltyAppCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="PenaltyTypeCodeContentType">
    <xs:annotation>
      <xs:documentation>Enumeration set values for Penalty Type.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cancellation">
        <xs:annotation>
          <xs:documentation>Cancellation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Change">
        <xs:annotation>
          <xs:documentation>Change</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoShow">
        <xs:annotation>
          <xs:documentation>NoShow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Upgrade">
        <xs:annotation>
          <xs:documentation>Upgrade</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PenaltyTypeCodeType">
    <xs:restriction base="PenaltyTypeCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="PercentType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="PositionNumberType">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="ProperNameType">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SeatCharacteristicsCodeContentType">
    <xs:annotation>
      <xs:documentation>Refers to aircraft seat characteristics; seat option codes.  Examples: E (EXIT ROW), M (Middle Seat), A (Aisle seat), L (Left side of aircraft), Q (Bulk Head).  Refer to PADIS code list 9825.
                {codeListAgencyName}PADIS{/codeListAgencyName}
                {codeListName}seat option codes{/codeListName}
                {codeListIdentifier}9825{/codeListIdentifier}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="SeatRowCharacteristicsCodeContentType">
    <xs:annotation>
      <xs:documentation>Row characteristic. Examples: A (Extra Leg Room) B (Buffer Row) MV (Row With Movie Screen)  Encoding Scheme: IATA PADIS Code List for data element 9864 - Row Characteristic
                {codeListAgencyName}IATA{/codeListAgencyName}
                {codeListName}Row Characteristic{/codeListName}
                {codeListIdentifier}9864{/codeListIdentifier}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="SeatRowCharacteristicsCodeType">
    <xs:restriction base="SeatRowCharacteristicsCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="TextType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TouchPointDeviceCodeContentType">
    <xs:annotation>
      <xs:documentation>The device from which the request was initiated. Examples: Agent Terminal, Web Browser, Mobile Device
                {codeListAgencyName}PADIS{/codeListAgencyName}
                {codeListName}Touchpoint device type{/codeListName}
                {codeListIdentifier}TDT{/codeListIdentifier}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TouchPointDeviceCodeType">
    <xs:restriction base="TouchPointDeviceCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="TouchPointEventCodeContentType">
    <xs:annotation>
      <xs:documentation>The travel event that triggered the request. Example: Order/Buy, Check-In, In Flight
                {codeListAgencyName}PADIS{/codeListAgencyName}
                {codeListName}Touchpoint transaction{/codeListName}
                {codeListIdentifier}TTT{/codeListIdentifier}</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TouchPointEventCodeType">
    <xs:restriction base="TouchPointEventCodeContentType"/>
  </xs:simpleType>
  <xs:simpleType name="UniformResourceID_Type">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>An amount is a number of monetary units specified in a currency.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="CurCode" type="xs:token" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BoardingGateType">
    <xs:annotation>
      <xs:documentation>An exit/entry from an airport building to an aircraft. Could for example be a boarding gate, arrival gate, departing gate etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BoardingGateID" type="BoardingGateID_Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifier of the gate. E.g. “A5”.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinColumnType">
    <xs:annotation>
      <xs:documentation>Column within a Cabin used to identify Seats and Cabin Components within a Row.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ColumnID" type="ID_Type" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifier of the column (e.g. A, B, C, etc.).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CharacteristicCode" type="SeatCharacteristicsCodeType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Column characteristic/property code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeviceType">
    <xs:annotation>
      <xs:documentation>Device upon which the secure transaction will occur.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DeviceCode" type="TouchPointDeviceCodeType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The device code from which the request was initiated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TouchPointTrxCode" type="TouchPointEventCodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The travel event that triggered the request.  Example: Order/buy, Check-In, In Flight.  PADIS codeset TTT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GeospatialLocation" type="GeospatialLocationType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A location with a spatial attribute, probably on the surface of the earth. For example: Longitude and Latitude</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorType">
    <xs:annotation>
      <xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The code corresponding to the processing error as defined by PADIS 9321.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Free text description of the provided error.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LanguageCode" type="LangCodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Language code associated with the error response.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the organization owning the error codelist.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Document processing status.  Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the tag/XPath which relates to the provided Error.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Uses a bilaterally agreed set of values to indicate the error type.  The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Link to an online description of the provided Error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeospatialLocationType">
    <xs:annotation>
      <xs:documentation>A location with a spatial attribute, probably on the surface of the earth. For example: Longitude and Latitude</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PointLatitudeNumber" type="PositionNumberType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point latitude in decimal degrees.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PointLongitudeNumber" type="PositionNumberType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The number of the spatial location point longitude in decimal degrees.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PointAltitudeMeasure" type="MeasureType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The vertical distance of a level, a point or an object considered as a point, measured from mean sea level (MSL).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IATA_PayloadStandardAttributesType">
    <xs:annotation>
      <xs:documentation>(name changed by M.Thomas, 5-Jul-2016) The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EchoTokenText" type="TextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Version" type="NumberType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrxID" type="ID_Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeqNumber" type="NumberType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and nee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransactionStatusCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>This indicates where this message falls within a sequence of messages.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Start">
              <xs:annotation>
                <xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="End">
              <xs:annotation>
                <xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Rollback">
              <xs:annotation>
                <xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="InSeries">
              <xs:annotation>
                <xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Continuation">
              <xs:annotation>
                <xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Subsequent">
              <xs:annotation>
                <xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PrimaryLangID" type="xs:language" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AltLangID" type="xs:language" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RetransmissionIndicator" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrelationID" type="StringLength1to64" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoyaltyProgramType">
    <xs:annotation>
      <xs:documentation>A rewards program offered by a company to customers who frequently make purchases, which may give a customer advanced access to new products, special sales coupons or free merchandise.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProgramCode" type="CodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Loyalty Program ID: Example: MAM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProgramName" type="NameType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Loyalty Program Name. Example: Miles and More</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProviderName" type="ProperNameType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Name of the organization providing the Loyalty Program.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Loyalty Program information URL. Example: https://www.britishairways.com/en-gb/executive-club/about-the-club</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasureType">
    <xs:annotation>
      <xs:documentation>A measure is a numeric value determined by measuring an object along with the specified unit of measure.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="UnitCode" type="xs:token" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MessageDocType">
    <xs:annotation>
      <xs:documentation>Message document information including document name and version number.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="NameType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>NDC Implementation Name. Example: ThisAirline Gateway</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefVersionNumber" type="NumberType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>NDC Framework Version. Example: SOAP 2015.1</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderCancelProcessingType">
    <xs:annotation>
      <xs:documentation>Placeholder for message processing information.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PenaltyType">
    <xs:annotation>
      <xs:documentation>A punishment imposed for breaking a law, rule, or contract.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PenaltyID" type="ID_Type" minOccurs="0" maxOccurs="1"/>
      <xs:element name="TypeCode" type="PenaltyTypeCodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Penalty type information. Examples: Cancellation, Change, NoShow, Upgrade, Other</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UpgradeFeeInd" type="IndType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>When TRUE, Upgrade fee(s) may apply.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyAmount" type="AmountType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Penalty monetary value amount and currency code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PenaltyPercent" type="PercentType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Percentage Value relating to acceptable the total amount by which the Order item price can vary; OR the amount of a penalty.   Example: 20 USD, 2 Percent</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Description of the applicable penalty.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppCode" type="PenaltyAppCodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Penalty application type. Examples: ADE (After departure) NOS (No show) PDE (Prior to departure)  Encoding scheme: IATA Padis Codeset FAT - Fare or Application Penalty Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CancelFeeInd" type="IndType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>When TRUE, Cancellation fee(s) may apply.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeFeeInd" type="IndType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>When TRUE, Change of Itinerary fee(s) may apply.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointofSaleType">
    <xs:annotation>
      <xs:documentation>The place at which a retail transaction is carried out.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RequestDateTime" type="DateTimeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The place at which a retail transaction is carried out.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Device" type="DeviceType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Device upon which the secure transaction will occur.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseType">
    <xs:annotation>
      <xs:documentation>Payload information for OrderHistoryRS.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrderRefID" type="ID_Type" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>References the canceled Order's Order ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeFees" type="PenaltyType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A punishment imposed for breaking a law, rule, or contract.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderCancelProcessing" type="OrdCancelProcessType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Placeholder for message processing information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TicketDocInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ticket/document detail.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AgentIDs" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Booking and Servicing Agent information.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="AgentID" maxOccurs="2"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element ref="IssuingAirlineInfo" minOccurs="0"/>
            <xs:element ref="BookingReferences" minOccurs="0"/>
            <xs:element name="Payments" minOccurs="0">
              <xs:annotation>
                <xs:documentation source="description" xml:lang="en">Payment information.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Payment" type="V172_PaymentMethodType" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation source="description" xml:lang="en">Payment detail.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="OriginDestination" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Origin and Destination Airport/ City.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Origin" type="AirportCitySimpleType">
                    <xs:annotation>
                      <xs:documentation>The origin city code.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Destination" type="AirportCitySimpleType">
                    <xs:annotation>
                      <xs:documentation>The destination city code.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="EndorsementText" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Endorsement/ Restriction text.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9a-zA-Z]{1,70} "/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="AddlReferenceIDs" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Additional Reference information.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="AddlReferenceID" maxOccurs="5"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="FareInfo" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Fare Information</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="BaseFare" minOccurs="0" maxOccurs="3"/>
                  <xs:element ref="EquivFare" minOccurs="0" maxOccurs="3"/>
                  <xs:element ref="Total" minOccurs="0" maxOccurs="3"/>
                  <xs:element name="Taxes" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Fare Tax information.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="TaxDetailType"/>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element ref="UnstructuredFareCalcInfo" minOccurs="0" maxOccurs="3"/>
                  <xs:element ref="FareInfo" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element ref="TicketDocument" maxOccurs="4"/>
            <xs:element name="OrderReference" type="CouponOrderKeyType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Associated Order ID(s) information.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Commission" type="V172_CommissionType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Commission information.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="CarrierFeeInfo" minOccurs="0"/>
            <xs:element ref="OriginalIssueInfo" minOccurs="0"/>
            <xs:element ref="PricingInfo" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Warning" type="WarningType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeatCharacteristicsCodeType">
    <xs:annotation>
      <xs:documentation>Characteristics/properties which can be attributed to a seat or profile of seats.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute name="Content" type="SeatCharacteristicsCodeContentType" use="optional"/>
  </xs:complexType>
  <xs:complexType name="SeatRowType">
    <xs:annotation>
      <xs:documentation>Row of seats located in a cabin compartment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RowNumber" type="NumberType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Number assigned to a row in the aircraft, typically used to identify seat assignments.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CharacteristicsCode" type="SeatRowCharacteristicsCodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Information and characteristics applying to a row of Passenger Seats.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalType">
    <xs:annotation>
      <xs:documentation>A departure and/or arrival building for aircraft, passengers or freight at a station for any transport mode.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TerminalName" type="NameType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the terminal.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketDocInfosType">
    <xs:annotation>
      <xs:documentation>Placeholder for Ticket/Document information.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="WarningType">
    <xs:annotation>
      <xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The code corresponding to the processing warning as defined by PADIS 9321.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Free text description of the provided warning.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LanguageCode" type="LangCodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Language code associated with the warning response.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the organization owning the warning codelist.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Document processing status.  Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies the tag/XPath which relates to the provided Warning.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Uses a bilaterally agreed set of values to indicate the warning type.  The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Link to an online description of the provided warning.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
